.huge_transaction{
    background-image: url(../images/callto-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.huge{
    color: white;
    position: relative;
    bottom: 450px;
    left: 250px;
}
.become{
    border-radius: 15px;
    background-color:#f6214b ;
    color: white;
}
.become:hover{
    background-color: transparent;
    border-color: white;
}
        @media only screen and (max-width:992px) {
        .huge {
                color: white;
                position: relative;
                bottom: 450px;
                left: 100px;

            }
        }